body {
    font-family: Arial, sans-serif;
    margin: 100px 0 0 0 ;
    padding: 0;

}

.payment-form, .contact-form {
    margin: 20px 0;
    padding: 40px 100px 30px 100px;
    margin: 40px 400px 40px 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form h3, .contact-form h3 {
    margin-bottom: 15px;
}

.payment-form form, .contact-form form {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-gap: 10px;
}

.payment-form form input, .contact-form form input,
.payment-form form button, .contact-form form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.payment-form form button, .contact-form form button {
    background-color: #4CAF50 ;
    color: white;
    cursor: pointer;
    grid-column: span 2;
    margin: 0 250px 0 250px;
    margin-top: 30px;
}

.payment-form form button:hover, .contact-form form button:hover {
    background-color: #5de662;
}


.labeling{
    /* font-size: 20px; */
    text-align: left;
    font-weight: 300;
    color: #000;

}

.star{
    color: red;
}
::placeholder{
    font-size: 10px;
}
label{
    font-size: 15px;
    padding-right: 20px;
}
.btn-flex{
    display: grid;
    gap: 10px;
}
input{
    margin-right: 0px;
}

.button-1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.button-1:hover {
    background-color: #45a049;
}

.checkout-btn{
    background: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    padding: px;
    text-align: right;
    font-size: 15px;
    margin: 0 0 0 0px;

}

.clear-basket {
    background-color: #494949;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 10px;
    margin-top: 20px;
    margin-right: 0px;
    cursor: pointer;
    text-align: center;
    display: flex;
    width: 30%;
    font-size: 15px;
}

.basket {
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 30px 5px 30px 5px;
    width: 280px;
    background-color: #fff;
    border-radius: 4px;
    text-align: start;
    box-shadow: 4px 2px 4px  rgba(0,0,0,0.1);
}
.m-basket{
    top: 80px;
}

.button-1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0px;
}
.button-1:hover {
    background-color: #45a049;
}

